:root{
    --background-hero-color: #1f2937;
    --hero-logo-color: #F9FAF8;
    --secondary-link-text: #E5E7EB;
    --call-to-action: #3882F6;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;
}


@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf"); 

}
@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf")
}

body{
    margin: 0 auto;
}

header, nav, .logo, a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 15px 15px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    background-color: var(--background-hero-color);
    color: var(--secondary-link-text);
    border-bottom: 2px solid var(--background-header-color);
}

nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--call-to-action);
}

a {
    color: var(--secondary-link-text);
}

a:hover, a.active {
    color: var(--call-to-action);
}

a.active {
    font-weight: bold;
}

main{
    margin: 0 auto;
}

.mission-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-hero-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.our-mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px 100px;
    border-radius: 25px;
    background-color: var(--quote-bg);
    font-family: "Roboto";
    color: var(--quote-text)
}
.our-mission p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 15px 50px;
    font-size: 20px;
    text-align: center;
}

.why-built{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--background-hero-color);
    font-family: "Roboto";
    color: var(--secondary-link-text);
    padding-top: 20px;
    padding-bottom: 20px;
}
.built-img{
    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.built-img img{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    width: 90%;
    height: auto;
    border-radius: 25px;
}
.built-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
}
.built-txt h1{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
.built-txt p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-left: 200px;
    padding-right: 50px;
}

.stats{
    display: flex;
    flex-direction: column;
    background-color: var(--background-hero-color);
    font-family: "Roboto";
    color: var(--secondary-link-text);
    padding-top: 20px;
    padding-bottom: 20px;
}
.stats-labels{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.stats p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.33%;
    font-size: 30px;
}
.stats-div{
    display: flex;
    width: 100%;
    height: auto;
}
.box{
    display: flex;
    margin: 10px;
    width: 33.33%;
    border-radius: 30px;
}
.box img{
    display:flex ;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.team{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Roboto";
    color: var(--secondary-link-text);
    background-color: var(--background-hero-color);
    padding-bottom: 20px;
}
.team p{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;

}
.team-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}
.team-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%px;
    padding-left: 125px;
    padding-right: 125px;
}
.team-div img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}
.team-div p{
    font-size: 35px;
    padding: 0px;
    margin-top: 0px;
}

.values{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Roboto";
    color: var(--secondary-link-text);
    background-color: var(--background-hero-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
.values div{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    margin: 20px;
    border-style: solid;
    border-radius: 25px;
    margin: 20px;
}
.values-div img{
    display: flex;
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.title{
    display: flex;
    margin-left: 10px;
    font-size: 30px;
}
.paragraph{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: var(--background-hero-color);
    font-family: "Roboto";
    color: var(--secondary-link-text);
    padding: 20px;
}
.contact-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-label h1{
    display: flex;
    font-size: 50px;
}
.contact-label p{
    display: flex;
    text-align: center;
    font-size: 30px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-bg);
    width: 60%;
    aspect-ratio: 1/0.5;
    border-radius: 25px;
    margin-top: 30px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.form-names{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}
.form-names div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 20px;
}
.names-fields label{
    display: flex;
    margin: 20px;
    color: var(--quote-text);
    text-align: left;
    font-size: 30px;
    white-space: nowrap;
}
.names-fields input{
    border-style: solid;
    border-radius: 25px;
    border-color: var(--call-to-action);
}
.form-email{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.form-email label{
    display: flex;
    margin: 20px;
    color: var(--quote-text);
    text-align: left;
    font-size: 30px;
}
.form-email input{
    border-style: solid;
    border-radius: 25px;
    border-color: var(--call-to-action);
}
.form-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.form-message label{
    display: flex;
    margin: 20px;
    color: var(--quote-text);
    text-align: left;
    font-size: 30px;
}
.form-message input{
    border-style: solid;
    border-radius: 25px;
    border-color: var(--call-to-action);
}
.button-container{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 100px;
}
.contact-form button{
    display: flex;
    border-radius: 25px;
    border-style: hidden;
    background-color: var(--call-to-action);
    color: var(--secondary-link-text);
    font-size: 50px;
}

#footer {
    background-color:var(--background-hero-color);   
    color: var(--secondary-link-text);
    padding: 50px 5% 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3, .footer-column h4 {
    margin-bottom: 20px;
    color:var(--call-to-action); 
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: var(--secondary-link-text);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
 .why-built{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    }
 .built-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    }
    header {
        height: auto;
        padding: 12px 15px;
        flex-direction: column;
        gap: 10px;
        
    }

    .logo {
        font-size: 1.1rem;
    }

    nav {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        padding: 0;
    }

    nav a {
        font-size: 0.9rem;
    }
}