:root {
    --background-hero-color: #1f2937;
    --hero-logo-color: #F9FAF8;
    --secondary-link-text: #E5E7EB;
    --call-to-action: #3882F6;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;
}


@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf"); 

}
@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf")
}

header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 40px;
    padding: 20px 25px;
    background-color: var(--background-hero-color);
    color: var(--secondary-link-text);
    font-family: "Roboto";
    padding: 10px 15px;
    justify-content: space-around;
    transition: all 0.3s ease;
    border-bottom: 2px solid var(--background-header-color);

}

nav{
    display: flex;
    color: var(--secondary-link-text);
    text-decoration: none;
    gap: 20px;
    font-family: "Roboto";

}

a{
    text-decoration: none;
    color:var(--secondary-link-text);

}

#hero-section{
    display: flex;
}

footer{
    background-color: var(--background-hero-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px 25px;
    color:var(--secondary-link-text);
    font-family: "Roboto";
    
}

body{
    margin: 0 auto;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

#hero{    
    background-color: var(--background-hero-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 50px;
    color: var(--hero-logo-color);
    font-family: "Roboto";
}

#hero div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

#hero h1{
    font-size: 2.5rem;
    font-weight: bold;
}

#hero img{
    width: 100%;
    height: auto;
}

#hero button{
    width: 150px;
    height: 40px;
    background-color: var(--hero-logo-color);
    color: var(--background-hero-color);
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    cursor: pointer;
}

#articles-links{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
}

#articles-links div{
    max-width: 130px;
    height: auto;
    font-family: "Roboto";
    margin: 50px 50px;

}
#articles-links img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--call-to-action);
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--quote-bg);
    font-family: "Roboto Light";
    font-size: 36px;
}

blockquote {
    margin: 150px;
    color: var(--background-hero-color);
    font-style: italic;
    /* font-size: 1rem; */

}

.quote img{
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    max-width: 120px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

cite {
    display: block;
    color: var(--background-hero-color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    text-align: right;

}


#call-to-action{
    background-color: var(--call-to-action);
    font-family: "Roboto";
    color: var(--secondary-link-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1000px;
}

.button-div button{
    width: 150px;
    height: 40px;
    background-color: var(--call-to-action);
    color: var(--secondary-link-text);
    border: 3px solid var(--secondary-link-text);
    border-radius: 5px;
    font-family: "Roboto";
    cursor: pointer;
}


.our-mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 50px 50px;
    background-color: var(--background-hero-color);
    font-family: "Roboto";
    color: var(--secondary-link-text)
    
}
.our-mission p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 15px 320px;
    font-size: 18px;
}

/* careers and training page */

.careers-main-container{
    padding:0vw 1vw 0vw 1vw;
    margin-top: 7vw;
    margin-bottom: 7vw;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.showcase-careers h1{
    font-size: 5rem;
}

.showcase-careers > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.showcase-careers article{
    width: 100%;
    height: auto;
}

.showcase-careers img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.careers-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 8vw;
}

.careers-container h2{
    font-size: 3rem;
}

.careers-container article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;
    background-color: var(--quote-bg);
    color: var(--quote-text);
    border-radius: 15px;

}

.careers-container div{
    display:flex;
    flex-direction: column;
}

.careers-container img{
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;

}
.careers-container button{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background-color: var(--call-to-action);
    color: var(--secondary-link-text);
    border: 3px solid var(--secondary-link-text);
    border-radius: 5px;
    font-family: "Roboto";
    cursor: pointer;
}

.testimonials h2{
    font-family: "Roboto";
    font-size: 3rem;
}

.testimonials blockquote{
    padding: 50px;
    font-style: italic;
    margin:10vh 0 10vh 0;
    border-radius: 15px;
}

.testimonials em{
    padding: 2vh;
}


/*media queries*/

@media screen and (max-width: 780px) {
  blockquote {
    margin: 50px;
  }
  .showcase-careers > section{
    flex-direction: column;
  }

  .careers-container article{
    flex-direction: column;
    gap:20px;
}
.careers-container img{
    width: 100%;
    height: auto;
}

.careers-container div{
    display:flex;
    flex-direction: column;
    padding-bottom: 3vh;
}
}